# LeetCode Problems 
## Topic - SQL

Problem Number: #175. Combine Two Tables

#Write your MySQL query statement below
SELECT p.firstName, p.lastName, a.city, a.state 
FROM person as P 
LEFT JOIN address as a
On p.personId = a.personId

#

Problem Number: 181. Employees Earning More Than Their Managers

# Write your MySQL query statement below
SELECT e2.name as EMPLOYEE
FROM employee e1
INNER JOIN employee e2 ON e1.id = e2.managerID
WHERE e1.salary < e2.salary ;

Problem number: 196. Delete Duplicate Emails

# Write your MySQL query statement below
# Delete p1
# From person p1, person p2 
# WHERE p1.email = p2.email and p1.Id > p2.Id

DELETE FROM PERSON
 WHERE id not in 
 (SELECT * FROM 
  (SELECT min(id) FROM Person GROUP BY email) AS temp_tab
 )

#

Problem Number: 595. Big Countries

SELECT name, population, area
FROM World
WHERE area >= 3000000 OR population >= 25000000;

#

Problem Number:1757. Recyclable and Low Fat Products

select product_id from Products
where low_fats='Y' and recyclable='Y'

#

Problem Number:183. Customers Who Never Order

SELECT
name as Customers 
from Customers

WHERE 
    id not in (
        SELECT customerId
        from Orders
);